@font-face{
    font-family: 'Halis-GR-Regular';
    src: url(../fonts/Halis-GR-Regular.woff2);
    font-weight: 400;
}
@font-face{
    font-family: 'Chronicle-Text-G1-Roman';
    src: url(../fonts/Chronicle-Text-G1-Roman.woff2);
    font-weight: 500;
}

@font-face{
    font-family:'Brut-Grotesque';
    src: url(../fonts/Brut_Grotesque_WEB-Light.woff2);
    font-weight: 400;
}

@font-face{
    font-family:'Brut-Grotesque';
    src: url(../fonts/Brut_Grotesque_WEB-Regular.woff2);
    font-weight: 500;
}

@font-face{
    font-family:'Brut-Grotesque';
    src: url(../fonts/Brut_Grotesque_WEB-Book.woff2);
    font-weight: 600;
}

@font-face{
    font-family:'UQQ-v04';
    src: url(../fonts/UQQ-v04-Light.woff2);
    font-weight: 400;
}

@font-face{
    font-family:'tiempos-text';
    src: url(../fonts/tiempos-text-regular.woff2);
    font-weight: 500;
}

@font-face{
    font-family:'DBW';
    src: url(../fonts/DBW-Semibold.70e0ba39.woff2);
    font-weight: 700;
}

@font-face{
    font-family:'Lelo';
    src: url(../fonts/Lelo-Bold.48b4b27a.woff2);
    font-weight: 600;
}
@font-face{
    font-family:'Lelo';
    src: url(../fonts/Lelo-Regular.ecc0e504.woff2);
    font-weight: 500;
}
@font-face{
    font-family:'Lelo';
    src: url(../fonts/Lelo-Light.1e3eefad.woff2);
    font-weight: 400;
}
@font-face{
    font-family:'Dahlia';
    src: url(../fonts/6370eff218cd9c1c229fdd0e_Dahlia-bold.woff);
    font-weight: 400;
}